// put your custom CSS here!
:root {
  --color-text: #24292e;
  --color-background: #f8f8f8;
  --token-constant: #005cc5;
  --token-string: #032f62;
  --token-comment: #6a737d;
  --token-keyword: #d73a49;
  --token-parameter: #24292e;
  --token-function: #24292e;
  --token-string-expression: #22863a;
  --token-punctuation: #24292e;
  --token-link: #24292e;
}

// npx convert-sh-theme https://raw.githubusercontent.com/shikijs/shiki/main/packages/shiki/themes/github-dark.json
[saved-theme="dark"] {
  --color-text: #ffffff !important;
  --color-background: #000000 !important;
  --token-constant: #79b8ff !important;
  --token-string: #9ecbff !important;
  --token-comment: #6a737d !important;
  --token-keyword: #f97583 !important;
  --token-parameter: #e1e4e8 !important;
  --token-function: #e1e4e8 !important;
  --token-string-expression: #85e89d !important;
  --token-punctuation: #e1e4e8 !important;
  --token-link: #e1e4e8 !important;
}
